<form action="/recipes/<%=@recipe.id%>" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" value=<%=@recipe.name%>>
     
    <label for="ingredients">Ingredients:</label>
    <input type="text" name="ingredients" value=<%=@recipe.ingredients%>>
    
     <label for="cook_time">Cook Time:</label>
    <input type="text" name="cook_time" value=<%=@recipe.cook_time%>>

    <input type="submit" value="Save Recipe">

    <% if @recipe.id %>
    <!-- If the book does exist already and needs to be updated, we include this hidden field. The name of _method means that Rack::MethodOverride will know to override the form's default post request with the HTTP verb defined as the value of the input field - in this case, patch. -->
    <input type="hidden" name="_method" value="patch">
    <% end %>

</form>
